version: '3.8'

services:
  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: urlshortener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: server.Dockerfile
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      HTTP_PORT: 8080
      BASE_URL: http://localhost:8080
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/urlshortener?sslmode=disable
    volumes:
      - ./configs:/app/configs
      - ./migrations:/app/migrations

volumes:
  postgres_data: